extends ./layout.jade
block contenido
   div(class="col-md-6 remove-float center-block text-center")
    div(class="margen-bienvenida")
    h1 Bienvenido
    a(href="/login" class="right-space") Iniciar sesión
    a(href="/signup") Registro de usuarios
 