extends ./layout.jade
block contenido
 form(action="/sessions",method="POST")
  div
    label(for="email") Email
    input(type="text", name="email",placeholder="Email")
  div
    label(for="password") Contraseña
    input(type="password", name="password",placeholder="Contraseña")
  
  div(class="row")
   div(class="col-xs-12 col-sm-6")
    input(type="submit" value="Iniciar Sesión")
    input(type="reset" value="Cancelar")
   div(class="col-xs-12 col-sm-6")
    a(href="/signup") No Tengo Una Cuenta