extends ./layout.jade
block contenido
 form(action="/users",method="POST")
  div
    label(for="email") Email
    input(type="text", name="email",placeholder="Email")
  div
    label(for="password") Contraseña
    input(type="password", name="password",placeholder="Contraseña")
  div
    input(type="submit" value="Iniciar Sesión")
    input(type="reset" value="Cancelar")