extends ./layout.jade
block contenido
 form(action="/users",method="POST")
  div
    label(for="email") Email
    input(type="text", name="email",placeholder="Email")
  div
    label(for="email") Contrase침a
    input(type="text", name="contrase침a",placeholder="Contrase침a")
  div
    input(type="submit" value="Iniciar Sesi칩n")
    input(type="reset" value="Cancelar")