extends ./layout.jade
block contenido
 div(class="col-md-6 remove-float center-block big-top-space")
  form(action="/sessions",method="POST")
   div(class="form-group")
     label(for="email") Email:
     input(type="text", name="email",placeholder="Email",id="email",class="form-control")
   div
     div(class="form-group")
     label(for="password") Contraseña:
     input(type="password", name="password",placeholder="Contraseña",id="password",class="form-control")
   
   div(class="top-space")
     input(type="submit" value="Crear Cuenta" class="btn btn-info")
     input(type="reset" value="Cancelar" class="btn btn-danger")
    div(class="col-xs-12 col-sm-6")
     a(href="/signup") No Tengo Una Cuenta