extends ./layout.jade
block contenido
 form(action="/users",method="POST")
  div
    label(for="email") Email
    input(type="text", name="email",placeholder="Email")
  div
    label(for="password") Contraseña
    input(type="password", name="password",placeholder="Contraseña")
  div
    label(for="password") Confirma Contraseña
    input(type="password", name="password_confirmation",placeholder="confirmar Contraseña")
  div
    label(for="username") Nombre de usuario
    input(type="text", name="username",placeholder="nombre de usuario")
  div
    input(type="submit" value="Iniciar Sesión")
    input(type="reset" value="Cancelar")
  div(class="col-xs-12 col-sm-6")
    a(href="/login") Ya Tengo Una Cuenta