*{
    margin:1em;
}
form.Link{
    display: inline-block;
}
form.Link input[type="submit"]{
    background-color: transparent;
    border:none;
    color:rgb(200,50,50);
}
form.Link:hover {
     text-decoration: underline;
     color:rgb(200,50,50);
}