*{
    margin:1em;
}
form.Link{
    display: inline-block;
}
form.Link input[type="submit"]{
    background-color: transparent;
    border:none;
    color:rgb(200,50,50);
}
form.Link:hover {
     text-decoration: underline;
     color:rgb(200,50,50);
}
img{
    max-width: 100%;
}
.img-container{
    width: 250px;
    max-width: 100%;
}
.img-container h1,.img-container h2,.img-container h3{
    margin:0 auto;
    padding: 20px;
    border-bottom:1px solid #323232;
}
.img-container p {
    text-align:center;
    font-size:1.2em;
    margin-top:1em;
}
.right-space{
    margin-right: 1em;
}
.remove-float{
    float: none;
}
.big-top-space{
    margin-top:100px;
}
.top-space{
    margin-top:1.5em;
}
.large-padding{
    padding:10px 15px;
}
.black{
    background-color:#323232;
}
.white-text{
    color:white;
}
nav{
    text-align: right;
}
nav{
    margin:-10px;
}
nav li{
    display: inline-block;
    margin-right: 1em;
    font-size: 1.1em;
}
nav li a{
    color:white;
}
nav li a:hover{
    color:white;
}
.white{
    background-color: white;
}
.border{
    border:solid 1px #eee;
}
.tr_nth-of-type(1){
    background-color: #eee;
}
.margen-bienvenida{
 margin-top: 250px;
}




