extends ../../layout.jade
block contenido
 h1 Mis imagenes
 div(class="container")
  for producto in productos
   .row
    .col-md-10
     h2=producto.title
    .col-md-2
     a(href="/app/productos/#{producto._id}/edit") Editar
     a(href="/app/productos/#{producto._id}/") Eliminar