extends ../../layout.jade
block contenido
 h1 Mis imagenes
 div(class="container")
  for producto in productos
   .row
    .col-md-10
     h2=producto.title
    .col-md-2
     a(href="/app/productos/#{producto._id}/edit") Editar
     form(action="/app/productos/#{producto._id}?_method=DELETE",class="Link",method="POST")
      input(type="submit",value="Eliminar")