extends ../../layout.jade
block contenido
 div(class="col-md-6 remove-float center-block big-top-space")
  h1(class="text-center") Subir nuevo producto
  form(action="/app/productos" method="POST" enctype="multipart/form-data")
    div("form-group")
     label(for="title") Titulo
     input(type="text", name="title",id ="title",placeholder="Titulo del producto",class="form-control")
    div("form-group")
     label(for="archivo") Imagen
     input(type="file", name="archivo",id ="archivo",class="form-control")
    div("form-group")
     label(for="precio") Precio
     input(type="text", name="precio",id ="precio",placeholder="precio del producto",class="form-control")
 
    div(class="row top-space")
     div(class="col-xs-12 col-sm-6")
      input(type="submit" value="Subir Imagen" class="btn btn-success")
      input(type="reset" value="Cancelar" class="btn btn-danger")