extends ../layout.jade
block contenido
   for producto in productos
    div(class="img-container col-md-3")
      h3= producto.title
      img(src="imagenes/#{producto._id}.#{producto.extension}",class="main-img")
      if(typeof producto.creator != "undefined")
      p Por #{producto.creator.email}
      hr
